@charset "UTF-8";


body {

    margin: 0 auto;
    padding: 10px;
    font-family: Arial, sans-serif;
    background: url("https://vl56.github.io/pgcorte-mk//img/block-1.png");
    background-size: cover;
    background-position:center;
    color: rgb(255,255,255);

}

.block-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center;
    padding: 50px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
}

img {

    width: 180px;
    height: auto;
    border-radius: 200px;
}

h1 {
    font-size: 21px;
    margin-top: 10px;
}

p {
    font-size: 18px;
    text-align: center;
}

.botao {

        text-decoration: none;
        width: 100px;
        font-size: 17px;
        border-radius: 10px;
        border: 1px solid rgb(255,69,0);
        padding: 4px;
        color: rgb(255,255,255);

}

a:hover {

    color: rgb(255,165,0);
}




/* Estilos para celular */
@media only screen and (max-width: 767px) {
    
    body {

        margin: 0 auto;
        padding: 50px;
        font-family: Arial, sans-serif;
        background-size: cover;
        background-position:center;
        color: rgb(255,255,255);
    
    }    

    .block-page {

        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .content {
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 12px;
    }
    
    img {
    
        width: 180px;
        height: auto;
        border-radius: 200px;
    }
    
    h1 {
        font-family: Arial;
        font-size: 18px;
        margin-top: 8px;
        padding: 10px;
    }
    
    p {
        font-size: 16px;
        margin-top: 8px;
        padding: 5px;
        text-decoration: none;
    }
    
    .botao {
    
            text-decoration: none;
            font-size: 16px;
            border-radius: 10px;
            border: 1px solid rgb(255,255,255);
            padding: 4px;
            color: rgb(255,69,0);
    
    }


    a:hover {
    
        color: rgb(255,165,0);
        
    }

   
}